@import '_reset.scss';

body {
  background: linear-gradient(rgb(209, 209, 209), rgba(127, 126, 130, 0.784));
  height: 100vh;
  display: flex;
  justify-content: center;
}

.yu-color {
  color: grey;
}